<!-- <p-fileUpload (onSelect)="uploadHandler($event)" [showUploadButton]="false" [showCancelButton]="false"
  [multiple]="false">
</p-fileUpload> -->

<div class="ui-g">
  <div class="ui-g-12">
    <p-card header="CRIB Extracted Info" styleClass="ui-card-shadow">
      <table>
        <tr>
          <td class="is-heighlight">ReportOrderDate:</td>
          <td width="10%"></td>
          <td><b>{{cribData.reportDate}}</b></td>
        </tr>
        <tr>
          <td class="is-heighlight">ReportID:</td>
          <td width="10%"></td>
          <td><b>{{cribData.reportID}}</b></td>
        </tr>
        <tr>
          <td class="is-heighlight">Name:</td>
          <td width="10%"></td>
          <td><b>{{cribData.name}}</b></td>
        </tr>
        <tr>
          <td class="is-heighlight">NIC:</td>
          <td width="10%"></td>
          <td><b>{{cribData.nic}}</b></td>
        </tr>
      </table>
    </p-card>

    <!-- <p-table [value]="cribData">
      <ng-template pTemplate="header">
        <tr>
          <th>Report ID</th>
          <th>Name</th>
          <th>NIC</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-crib>
        <tr>
          <td>{{crib.reportID}}</td>
          <td>{{crib.name}}</td>
          <td>{{crib.nic}}</td>
        </tr>
      </ng-template>
    </p-table> -->
  </div>
</div>
