<!-- <p-fileUpload (onSelect)="uploadHandler($event)" [showUploadButton]="false" [showCancelButton]="false"
  [multiple]="false">
</p-fileUpload> -->

<div class="ui-g">
  <div class="ui-g-12" *ngIf="cribData.reportType == getCribReportType.Consumer">
    <p-card header="CRIB Extracted Info - Consumer" styleClass="ui-card-shadow">
      <table>
        <tr>
          <td class="is-heighlight">ReportOrderDate:</td>
          <td width="10%"></td>
          <td><b>{{cribData.reportDate}}</b></td>
        </tr>
        <tr>
          <td class="is-heighlight">ReportID:</td>
          <td width="10%"></td>
          <td><b>{{cribData.reportID}}</b></td>
        </tr>
        <tr>
          <td class="is-heighlight">Name:</td>
          <td width="10%"></td>
          <td><b>{{cribData.demographicData.name}}</b></td>
        </tr>
        <tr>
          <td class="is-heighlight">NIC:</td>
          <td width="10%"></td>
          <td><b>{{cribData.demographicData.nicNo}}</b></td>
        </tr>
      </table>
    </p-card>
  </div>
  <!-- <div class="ui-g-12" *ngIf="cribData.reportType == getCribReportType.Corporate">
      <p-card header="CRIB Extracted Info - Corporate" styleClass="ui-card-shadow">
        <table>
          <tr>
            <td class="is-heighlight">ReportOrderDate:</td>
            <td width="10%"></td>
            <td><b>{{corporateCribData.reportDate}}</b></td>
          </tr>
          <tr>
            <td class="is-heighlight">ReportID:</td>
            <td width="10%"></td>
            <td><b>{{corporateCribData.reportID}}</b></td>
          </tr>
          <tr>
            <td class="is-heighlight">Name:</td>
            <td width="10%"></td>
            <td><b>{{corporateCribData.name}}</b></td>
          </tr>
          <tr>
            <td class="is-heighlight">NIC:</td>
            <td width="10%"></td>
            <td><b>{{corporateCribData.nicNo}}</b></td>
          </tr>
        </table>
      </p-card>
    </div> -->
</div>
